{% extends 'base.html.twig' %}

{% block title %}Grupa Domen - Usuń - AI SEO Texts{% endblock %}

{% block body %}

    <div class="title-box">
        <h1>Grupa Domen: <i style="font-weight: 300;">{{ domainGroup.name }}</i></h1>
    </div>

    <div class="projects projects-summary box-container">
        <div class="box">
            <div class="col-next">
                <a href="{{ path('app_user_panel_domain_group') }}" class="button go-back">
                    <span><img src="/uploads/default/icons/reply.svg" class="icon" alt=""/>
                    Wróć
                    </span>
                </a>
            </div>
            <div class="col-next">
                Czy na pewno chcesz usunąć tę grupę domen? <b>Nie da się tego odwrócić!</b>
            </div>
            <div class="col-break"></div>
            <div class="col-next">
                <a href="{{ path('app_user_panel_domain_group_delete_confirm', { id: domainGroup.id }) }}"
                   class="button delete">
                    <span><img src="/uploads/default/icons/forward.svg" class="icon" alt=""/>
                    Usuń grupę domen
                    </span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}