//fonts
$font-family-header: 'Quicksand', sans-serif;
$font-family-text: 'Rubik', sans-serif;
//colors
$color-very-dark: #1E1E1E;
$color-semi-dark: #282828;
$color-slight-dark: #464646;
$color-white: #FFFFFF;
$color-gray: #ABABAB;
$color-slight-gray: #FAFAFA;
$color-blue: #1161FC;
$color-sky-blue: #63B7E4;
$color-red: #E2554D;
$color-green: #00B300;
$color-alfa: rgba(0,0,0,0);

//borders
$border-radius: 25px;