@import './variables';

body {
  margin: 0;
  background-color: $color-slight-gray;
  font-family: $font-family-text;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: 600;
}

h1 {
  font-size: calc(0.950rem + 0.5vw);
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: calc(0.850rem + 0.4vw);
  margin-bottom: 15px;
}

h3 {
  font-size: calc(0.750rem + 0.3vw);
  margin-bottom: 12px;
}

a {
  transition: all 0.25s;
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  margin-left: 250px;
  padding: 25px;
  width: 100%;
}

#sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 25px;
  z-index: 999;
  background-color: $color-very-dark;
  color: $color-gray;
}

#sidebar #sidebar-footer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 60px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.7px;
}

.sidebar-menu-main,
.sidebar-menu-main ul {
  margin-top: 25px;
  list-style: none;
  padding-inline-start: 0;
  font-weight: 300;
}

.sidebar-header a {
  font-family: $font-family-header;
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
}

.sidebar-menu-main .menu-item,
.button.add-new {
  display: block;
  background-color: $color-alfa;
  color: $color-gray;
  border-radius: $border-radius;
  padding: 10px 22px;
  margin-bottom: 10px;
}

.menu-item.add-new,
.button.add-new {
  background-color: $color-blue;
  color: $color-white;
}

.sidebar-menu-main .menu-item.active,
.sidebar-menu-main .menu-item:hover {
  background-color: $color-semi-dark;
  color: $color-white;
}

.menu-item.add-new:hover,
.button.add-new:hover {
  background-color: $color-sky-blue;
}

.title-box {
  margin: -25px -25px 20px -25px;
  padding: 15px 0 15px 30px;
  width: 100%;
  background-color: $color-white;
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

.box-container {
  background-color: $color-white;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

.form.box-container {
  max-width: 440px;
}

.projects.box-container {
  margin-bottom: 10px;
}

.label {
  color: $color-gray;
  font-size: 13px;
  font-weight: 300;
}

.number {
  color: $color-very-dark;
  font-size: 18px;
  font-weight: 600;
}


.number-black {
  color: $color-very-dark;
  font-size: 18px;
  font-weight: 600;
}

.form .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form .box .col-1,
.form .box .col-1 input {
  width: 96%;
}

.form .box .col-2,
.form .box .col-2 input {
  width: 45%;
}

.form .box .radio,
.form .box .submit {
  width: 96%;
}

.projects.projects-summary .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.projects.projects-summary .box .col-next {
  display: inline-block;
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
}

.projects.projects-pending .box,
.projects.projects-done .box,
.projects.article-list .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.projects.projects-pending .box .col-30,
.projects.projects-done .box .col-30 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(30% - 10px);
}

.projects.projects-pending .box .col-25,
.projects.projects-done .box .col-25 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(25% - 10px);
}

.projects.projects-pending .box .col-20,
.projects.projects-done .box .col-20 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(20% - 10px);
}

.projects.projects-pending .box .col-10,
.projects.projects-done .box .col-10 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(10% - 10px);
}

.projects.projects-pending .box .col-5,
.projects.projects-done .box .col-5 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(5% - 10px);
}

.projects.article-list .box .col-100 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(100% - 10px);
}

.projects.article-list .box .col-80 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(80% - 10px);
}

.projects.article-list .box .col-20 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(20% - 10px);
}

.projects.projects-pending .box .col-next,
.projects.projects-done .box .col-next {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
}

.projects .box {
  font-size: 12px;
  overflow-wrap: break-word;
}

.projects .box.label {
  font-size: 11px;
}

.projects .border-bottom {
  border-bottom: 1px solid $color-medium-gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.box .link {
  padding-top: 5px;
  font-size: 10px;
}

.form input {
  margin-bottom: 18px;
  padding: 5px 10px;
  border: 1px solid $color-gray;
  border-radius: $border-radius;
}

.form .submit button {
  margin-top: 8px;
  padding: 8px 43px;
  background-color: $color-alfa;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-semi-dark;
  font-family: $font-family-header;
  font-weight: 700;
}

.form .submit button:hover {
  cursor: pointer;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  color: $color-white;
}

.button.add-new {
  margin: 0 15px 0 0;
  font-size: 13px;
}

.button.go-back {
  margin-top: 8px;
  padding: 8px 23px;
  background-color: $color-alfa;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-semi-dark;
  font-family: $font-family-header;
  font-weight: 700;
}
.button.export {
  margin-top: 8px;
  padding: 8px 23px;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-white;
  font-family: $font-family-header;
  font-weight: 700;
}

.button.refresh {
  margin-top: 8px;
  padding: 8px 43px;
  background-color: $color-alfa;
  border: 1px solid $color-semi-dark;
  border-radius: $border-radius;
  color: $color-semi-dark;
  font-family: $font-family-header;
  font-weight: 700;
}

.message-empty.center {
 width: 100%;
  margin-top: 30px;
}

.message-empty.center div{
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
}

.projects-summary .col-break{
  margin-bottom: 12px;
}

.col-break {
  flex-basis: 100%;
  width: 0;
}


@media only screen and (max-width: 767px) {
  body {
    padding-bottom: 50px;
  }

  h1 {
    margin-top: 30px !important;
    margin-bottom: 25px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .wrapper {
    display: block;
  }

  #content {
    margin-left: 0;
    padding: 15px;
  }

  #sidebar {
    width: 100vw;
    position: relative;
    height: auto;
    padding: 15px;
  }

  #sidebar #sidebar-footer {
    display: none;
  }

  .sidebar-header, .sidebar-menu-main p {
    text-align: center;
  }


}