@import './variables';

body {
  margin: 0;
  background-color: $color-slight-gray;
  font-family: $font-family-text;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: 600;
}

h1 {
  font-size: calc(0.950rem + 0.5vw);
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: calc(0.850rem + 0.4vw);
  margin-bottom: 15px;
}

h3 {
  font-size: calc(0.750rem + 0.3vw);
  margin-bottom: 12px;
}

a {
  transition: all 0.25s;
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  margin-left: 250px;
  padding: 25px;
  width: 100%;
}

#sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 25px;
  z-index: 999;
  background-color: $color-very-dark;
  color: $color-gray;
}

#sidebar #sidebar-footer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 60px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.7px;
}

.sidebar-menu-main,
.sidebar-menu-main ul {
  margin-top: 25px;
  list-style: none;
  padding-inline-start: 0;
  font-weight: 300;
}

.sidebar-header a {
  font-family: $font-family-header;
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
}

.sidebar-menu-main .menu-item,
.button.add-new {
  display: block;
  background-color: $color-alfa;
  color: $color-gray;
  border-radius: $border-radius;
  padding: 10px 22px;
  margin-bottom: 10px;
}

.button {
  display: block;
}

.site-logo {
  width: 42px;
}

.menu-item.add-new,
.button.add-new {
  background-color: $color-blue;
  color: $color-white;
}

.sidebar-menu-main .menu-item.active,
.sidebar-menu-main .menu-item:hover {
  background-color: $color-semi-dark;
  color: $color-white;
}

.menu-item.add-new:hover,
.button.add-new:hover {
  background-color: $color-sky-blue;
}

.sidebar-menu-main .icon {
  width: 20px;
  height: auto;
  float: left;
  margin-right: 10px;
  filter: $filter-gray;
}

.sidebar-menu-main .menu-item.active .icon,
.sidebar-menu-main .menu-item:hover .icon {
  filter: $filter-white;
}

.button .icon {
  width: 16px;
  height: auto;
  float: left;
  margin-right: 7px;
  margin-left: -7px;
}

.button.add-new .icon {
  filter: $filter-white;
}

.title-box {
  margin: -25px -25px 20px -25px;
  padding: 15px 0 15px 30px;
  width: 100%;
  background-color: $color-white;
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

.box-container {
  background-color: $color-white;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

.form.box-container {
  max-width: 440px;
}

.projects.box-container {
  margin-bottom: 10px;
}

.label {
  color: $color-gray;
  font-size: 13px;
  font-weight: 300;
}

.number {
  color: $color-very-dark;
  font-size: 18px;
  font-weight: 600;
}


.number-black {
  color: $color-very-dark;
  font-size: 18px;
  font-weight: 600;
}

.form .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form .box .col-1,
.form .box .col-1 input {
  width: 96%;
}

.form .box .col-2,
.form .box .col-2 input {
  margin-right: 5px;
}

.form .box .radio,
.form .box .submit {
  width: 96%;
}

.form .box .textarea textarea{
  width: 90%;
  height: 34px;
}

.projects.projects-summary .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.projects.projects-summary .box .col-next {
  display: inline-block;
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
}

.projects.projects-pending .box,
.projects.projects-done .box,
.projects.article-list .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.projects.projects-pending .box .col-30,
.projects.projects-done .box .col-30 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(30% - 10px);
}

.projects.projects-pending .box .col-25,
.projects.projects-done .box .col-25 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(25% - 10px);
}

.projects.projects-pending .box .col-20,
.projects.projects-done .box .col-20 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(20% - 10px);
}

.projects.projects-pending .box .col-10,
.projects.projects-done .box .col-10 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(10% - 10px);
}

.projects.projects-pending .box .col-5,
.projects.projects-done .box .col-5 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(5% - 10px);
}

.projects.article-list .box .col-100 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(100% - 10px);
}

.projects.article-list .box .col-80 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(80% - 10px);
}

.projects.article-list .box .col-20 {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
  width: calc(20% - 10px);
}

.projects.projects-pending .box .col-next,
.projects.projects-done .box .col-next {
  flex-basis: auto;
  align-self: baseline;
  padding-right: 10px;
}

.projects .box {
  font-size: 12px;
  overflow-wrap: break-word;
}

.projects .box.label {
  font-size: 11px;
}

.projects .border-bottom {
  border-bottom: 1px solid $color-medium-gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.box .link{
  padding-top: 5px;
  font-size: 10px;
}

.id .label,
.language .label,
.card-info .label{
  font-size: 10px;
}

.link .view {
  color: $color-gray;
}

.link .view:hover {
  color: $color-semi-dark;
}

.link .standard {
  color: $color-slight-dark;
}

.link .standard:hover {
  color: $color-blue;
}

.link .delete {
  color: $color-red;
}

.link .delete:hover {
  color: $color-green;
}

.link .export {
  color: $color-blue;
}

.link .export:hover {
  color: $color-sky-blue;
}

.form input{
  margin-bottom: 18px;
  padding: 5px 10px;
  border: 1px solid $color-gray;
  border-radius: $border-radius;
}

.form .box .textarea textarea,
.form .box .select select
{
  margin-bottom: 18px;
  padding: 5px 10px;
  border: 1px solid $color-gray;
  border-radius: 7px;
}

button.submit,
.submit button{
  margin-top: 8px;
  padding: 8px 43px;
  background-color: $color-alfa;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-semi-dark;
  font-family: $font-family-header;
  font-weight: 700;
  transition-duration: 0.3s;
}

button.submit:hover,
.submit button:hover {
  cursor: pointer;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  color: $color-white;
}

.button.add-new {
  margin: 0 15px 0 0;
  font-size: 13px;
}

.button.go-back {
  margin-top: 8px;
  padding: 8px 23px;
  background-color: $color-alfa;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-semi-dark;
  font-family: $font-family-header;
  font-weight: 700;
}

.button.standard {
  margin-top: 8px;
  padding: 8px 23px;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-white;
  font-family: $font-family-header;
  font-weight: 700;
}

.button.export {
  margin-top: 8px;
  padding: 8px 23px;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-white;
  font-family: $font-family-header;
  font-weight: 700;
}

.button.refresh {
  margin-top: 8px;
  padding: 8px 43px;
  background-color: $color-alfa;
  border: 1px solid $color-semi-dark;
  border-radius: $border-radius;
  color: $color-semi-dark;
  font-family: $font-family-header;
  font-weight: 700;
}

.button.delete {
  margin-top: 8px;
  padding: 8px 43px;
  background-color: $color-red;
  border: 1px solid $color-red;
  border-radius: $border-radius;
  color: $color-white;
  font-family: $font-family-header;
  font-weight: 700;
}

.button.go-back:hover {
  background-color: $color-blue;
  border: 1px solid $color-blue;
  color: $color-white;
}

.button.standard:hover {
  background-color: $color-sky-blue;
  border: 1px solid $color-sky-blue;
  color: $color-white;
}

.button.export:hover {
  background-color: $color-sky-blue;
  border: 1px solid $color-sky-blue;
  color: $color-white;
}

.button.refresh:hover {
  background-color: $color-blue;
  border: 1px solid $color-blue;
  color: $color-white;
}

.button.delete:hover {
  background-color: $color-sky-blue;
  border: 1px solid $color-sky-blue;
  color: $color-white;
}

.button.go-back .icon {
  filter: $filter-semi-dark;
}

.button.standard .icon {
  filter: $filter-white;
}

.button.export .icon {
  filter: $filter-white;
}

.button.delete .icon {
  filter: $filter-white;
}

.button.export:hover .icon,
.button.go-back:hover .icon {
  filter: $filter-white;
}

.login-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
}

.login-link:hover {
  color: $color-white;
}

.login-link .icon {
  width: 22px;
  height: auto;
  float: left;
  filter: $filter-slight-gray;
}

.login-link:hover .icon {
  filter: $filter-white;
}

.error-box{
  margin-top: 12px;
  color: $color-red;
}

.message-empty.center {
  width: 100%;
  margin-top: 30px;
}

.message-empty.center div {
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
}


.projects .is-used {
  font-size: 11px;
}

.projects-summary .col-break {
  margin-bottom: 22px;
}

.col-break {
  flex-basis: 100%;
  width: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 8px 12px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .line{
  padding: 8px 2px;
  font-size: 13px;
}

.more-options{
  color: $color-blue;
  cursor: pointer;
}

.more-options:hover{
  color: $color-blue;
}

.regenerate-link:hover:not(.disabled){
  color: $color-blue;
}

.regenerate-link.disabled{
  cursor: auto;
}

@media only screen and (max-width: 767px) {
  body {
    padding-bottom: 50px;
  }

  h1 {
    margin-top: 30px !important;
    margin-bottom: 25px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .wrapper {
    display: block;
  }

  #content {
    margin-left: 0;
    padding: 15px;
  }

  #sidebar {
    width: 100vw;
    position: relative;
    height: auto;
    padding: 15px;
  }

  #sidebar #sidebar-footer {
    display: none;
  }

  .sidebar-header, .sidebar-menu-main p {
    text-align: center;
  }


}